/*global*/
body{
    background-color: rgba(248, 248, 245, 0.89);


}
h1, h2, h3{color: rgb(57, 118, 250);
    text-align: center;
    text-shadow:3px 3px 3px black;
    margin-bottom: 10px;
    

}
h4{
    color: aliceblue;
    text-shadow: 3px 3px 3px black;
}
p{
    color:rgb(242, 248, 248);
    text-shadow: 3px 3px 3px rgb(12, 12, 12);
    border: 2px rgb(236, 136, 4) solid;
    height:auto
}
/*utilities*/
/*header*/
header{
    background-color:rgba(145, 143, 143, 0.171);
    height: 30vh;
    border: 2px black double;
}
/*menu*/
nav{
    background-color:rgb(6, 79, 189);
    height: 5vh;
    text-align: right;
    word-spacing: 10px;
    font-weight:bold;
    text-shadow: 1px 1px 1px black;
}
nav a{
    color: aliceblue;
    text-decoration: none;
    
    
}
nav a:hover{
    font-weight: bold;
    color: rgb(1, 5, 5);
}
/*main*/
main{
    background-color: rgba(6, 79, 189);
}
aside{
    background-color: rgb(252, 138, 8);

}
/*footer*/
footer{
      background-color: black;
}
#mylife{
    text-align: center;
    font-size: x-large;


    
    
}
.south{
    font-size: x-large;
    font-family:'Roboto', sans-serif;
    text-align: center;
}
.roof{
    font-style: oblique;
}